<div>
    <div class="rounded shadow-lg p-3">

        <p><%= comment.content%></p>
        <div class=" text-color mt-2">
            <span class="mr-1">
            <% if current_user%> Me 
            <%else%> 
                <%=comment.user.email[/^[^@]+/]%>
            <%end%></span>
            <span class="mr-1"><%= distance_of_time_in_words(comment.updated_at, DateTime.now)%></span>
            <a href="#" class="mr-1">Edit</a>
            <a href="#" class="mr-1">Delete</a>
            <a href="#" class="display-comment-reply mb-2">reply</a>
            <div class="comment-reply-form align-start">
                <%= render partial: 'comments/form', locals: {post: comment.post, parent: comment}%>
            </div>
        </div>

        <div class="ml-3">
            <%= render comment.comments%>
        </div>
    </div>


</div>


<script>
    document.querySelectorAll('.display-comment-reply').forEach((el)=>{
        el.addEventListener('click',(ev)=>{
            ev.preventDefault();
            el.nextElementSibling.style = "display:block;"
        })
    })
</script>